@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap');
@import url("https://unicons.iconscout.com/release/v3.0.6/css/line.css");
:root {
    --first-color: #0f061e;
    --second-color: #261d36;
    --third-color: #9c27b0;
    --fourth-color: #ffffff;
}

a {
    text-decoration: none;
}

i#nav-toggle {
    display: none;
}

.gradient-text {
    background: -webkit-linear-gradient(106deg,#3f51b5, #e91e63);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
}

.gradient-button {
    padding: 10px 20px;
    background: -webkit-linear-gradient(106deg,#3f51b5, #e91e63);
    color: var(--fourth-color);
    border: none;
    outline: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 0.85rem;
    font-weight: bold;
    text-transform: uppercase;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Khula', sans-serif;
    color: var(--fourth-color);
    list-style: none;
}

div#root {
    height: calc(100vh - 40px);
    background: var(--second-color);
    color: white;
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

div.sidebar-container {
    width: 250px;
    padding: 20px;
    height: calc(100vh - 80px);
    background: var(--first-color);
    border-radius: 12px;
    position: relative;
}

div.sidebar-container > #header {
    margin-bottom: 4vh;
    display: flex;
    align-items: center;
}

div.sidebar-container > #header #title {
    text-transform: uppercase;
}

div.sidebar-container > #header i {
    font-size: 1.8rem;
}

div.sidebar-container > #header p {
    font-size: 0.72rem;
    color: var(--fourth-color) !important;
}

div.sidebar-container > #body {
}

div.sidebar-container > #body nav {
}

div.sidebar-container > #body nav > ul {
    height: 70vh;
    overflow-y: auto;
}

div.sidebar-container > #body nav > ul li.sb-category {
}

div.sidebar-container > #body nav ul li a {
    font-weight: 100;
    text-transform: capitalize;
    font-size: 0.85rem;
}

div.sidebar-container > #body nav > ul li.sb-category > p {
    text-transform: uppercase;
    opacity: 0.5;
    margin-bottom: 5px;
    font-weight: 600;
    width: -webkit-fill-available;
    width: -moz-available;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: var(--fourth-color);
}

div.sidebar-container > #body nav > ul li.sb-category > p i {
    font-size: 1.2rem;
    color: var(--fourth-color);
}

div.sidebar-container > #body nav > ul li.sb-category > ul.sb-category-ctn {
    padding: 10px 0;
    padding-left: 5px;
    display: none;
}

div.sidebar-container > #body nav > ul li.sb-category.active > ul.sb-category-ctn {
    display: inherit;
}

div.sidebar-container > #body nav > ul li.sb-category.active > ul.sb-category-ctn > li {
    margin-bottom: 10px;
}

div.sidebar-container > #footer {
    position: absolute;
    bottom: 0;
    padding: 20px;
    left: 0;
    font-size: 0.86rem;
    text-transform: uppercase;
    opacity: 0.8;
}

main.page {
    padding: 0 20px;
    width: calc(100% - 325px);
}

main.page > #header {
    padding: 25px 30px;
    background: var(--first-color);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main.page > #header > #title {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

main.page > #header > ul {
    display: flex;
    align-items: center;
}

main.page > #header > ul li {
    margin: 0 5px;
}

main.page > #header > ul li a {
}

main.page > #header > ul li a i {
    font-size: 1.5rem;
}

main.page > #body {
    padding: 10px 30px;
    margin-top: 5vh;
    height: 71vh;
    overflow-y: auto;
    background: var(--first-color);
    border-radius: 15px;
}

main.page > #body > .body-separator-txt {
    text-transform: uppercase;
    /* opacity: 0.5; */
    margin: 20px 0;
    color: var(--fourth-color);
    font-weight: 100;
}

/* HOME PAGE */
main.page#homepage > #body .features-ctn {
    margin: 10px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

main.page#homepage > #body .features-ctn > p {
    padding: 10px 20px;
    background: #673ab733;
    border-radius: 22px;
    font-size: 0.85rem;
    margin: 10px;
}

main.page#modules > #body .modules-ctn {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    gap: 20px 20px;
}

main.page#modules > #body .modules-ctn > .module {
    padding: 20px 10px;
    height: 200px;
    background: #673ab71c;
    border-radius: 12px;
    transition: 0.5s;
    cursor: pointer;

    position: relative;
}

main.page#modules > #body .modules-ctn > .module:hover {
    background: #673ab7;
}

main.page#modules > #body .modules-ctn > .module p {
    color: white;
}

main.page#modules > #body .modules-ctn > .module > i {
	opacity: 0;
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    color: orange;
}

main.page#modules > #body .modules-ctn > .module:hover > i {
	opacity: 1;
    font-size: 3em;
}


main.page#modules > #body .modules-ctn > .module #footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
	padding: 10px;
	width: calc(100% - 40px);/* font-size: 0.75rem; */
}



main.page#modules > #body .modules-ctn > .module #footer > a {
    padding: 5px 10px;
    background: transparent;
    border-radius: 15px;
    transition: 0.2s;
}

main.page#modules > #body .modules-ctn > .module #footer > a:hover {
    background: #ffffff54;
}

main.page#modules > #body .modules-ctn > .module #footer > p {
    color: orange;
    font-size: 0.75rem;
}

main.page#modules > #body .modules-ctn > .module #footer > p b {
    font-weight: 400;
}




@media screen and (max-width: 850px) {
    i#nav-toggle {
        display: block;
        margin-right: 12px;
    }

    div.root {
        padding: 20px 5px;
    }

    div.sidebar-container {
        display: none;
        z-index: 1000000;
    }

    div.sidebar-container.active {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
    }

    main.page {
        width: -webkit-fill-available;
        width: -moz-available;
        padding: 0 1px;
    }
}

::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--third-color);
    /* filter: opacity(0.1); */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
    text-transform: uppercase;
    font-weight: 700;
}

td, th {
  text-align: left;
  padding: 8px;
  margin-bottom: 20px;
  word-break: break-all;
  max-width: 150px;
  
  font-family: 'Khula', sans-serif;
}

td {
    font-weight: 100;
}
td > a {float: right;}